.renCSharp-console-input {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.renCSharp-console-input:initial {
    translate: 0 40px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.renCSharp-console-logs {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.renCSharp-console-logs:initial {
    translate: 0 -200px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
